/target
.tools/
.tools-test/
*.elf
*.bin
*.img
.axconfig.old.toml
.axconfig.toml
kernel-*
*.txt
!vendor/**/*.txt
.antigravitycli/
*.log
*.folded
vendor/**/target/
rootfs/base/*.tar.xz
rootfs/base/*.tar.gz
